* { transition: all .1s ease-in;}
body {margin:0;
background:wheat ;
}
main {
    margin-top: 107px;
    padding: 0;
    text-align: center;
    font-size: 0;
}
.image1 {
    display: inline-block;
    border: 2px solid red;
    box-sizing: border-box;
    font-size: x-large;
    width: 236px;
    height: 421px;
}

.image2 {
    display: inline-block;
    border: 2px solid red;
    box-sizing: border-box;
    font-size: x-large;
    width: 236px;
    height: 421px;
    
}
.image3 {
    display: inline-block;
    border: 2px solid red;
    box-sizing: border-box;
    font-size: x-large;
    width: 236px;
    height: 421px;
    }
.image4 {
    display: inline-block;
    border: 2px solid red;
    box-sizing: border-box;
    font-size: x-large;
    width: 236px;
    height: 421px;
}
.anchor, .diamond, .eyeglasses, .monitor {
    padding: 56px;
}

h4 {
    border: 2px solid red;
    padding: 0px;
    font-size: 12px;
letter-spacing: 5px;
line-height: 30px;
color: #898f99;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
margin-top: 148px;
}
h1 {
    border: 2px solid red;
    font-size: 48px;
letter-spacing: 5px;
line-height: 30px;
color: #0ec8cb;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
padding: 0px;
margin-top: 35px;
}
h6 {
    border: 2px solid red;
    width: 513px;
height: 65px;
font-size: 18px;
line-height: 30px;
color: #999999;
font-weight: 400;
font-family: "PT Sans";
text-align: center;
padding: 0px;
margin-top: 35px;
}